@import

    '../mixin',
    '../variable';

//btn
.btn,
.btn:active,
.btn:focus,
.btn:hover,
button,
button:active,
button:focus,
button:hover{
    outline: 0 !important;
}

.btn{
    padding: 6px 18px;
}

.btn.btn-blue{
    background-color: #3890ff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 0 hsla(0, 0%, 100%, .08) inset, 0 1px 1px rgba(0, 0, 0, .08);

    &:hover{
        color: #fff;
        border-color: #217ef2;
        background-color: #3890ff;
    }
}
.btn-primary{
    background-color: $primaryBtnColor !important;
    border-color : $primaryBtnColor !important;
    &:hover,
    &:focus,
    &:active,
    &.active{
        background-color: darken($primaryBtnColor, 5%) !important;
        border-color: darken($primaryBtnColor, 5%) !important;
    }
}
.btn-default{
    background:none;
    &:hover,
    &:focus,
    &:active,
    &:active:hover,
    &:active:focus{
        background-color: rgba(204,209,217,.1);
        box-shadow: 0 1px 0 hsla(0,0%,100%,.9);
        border-color: $defaultBtnBdColor;
    }
}
.btn-more{
    color: $greenBtnColor;
    font-size: 15px;
    line-height: 1;
    padding: 13px;
    border: 1px solid $greenBtnColor;
    background: 0 0;
    border-radius: 2px;
    margin: 25px -10px 0;
    width: 100%;
    transition: all 200ms;
    &:hover:enabled{
        color: darken($greenBtnColor, 6%);
        border-color: darken($greenBtnColor, 6%);
    }
    &:disabled{
        i{
            color: $greenBtnColor;
        }
    }
}


// >> << icon
.follow-next{
    margin-left: 4px;
}
.followed-previous{
    margin-right: 4px;
}
