@import

    '../mixin',
    '../variable';

form{
    .form-group{
        input[type="text"],
        input[type="file"],
        textarea{
            &:focus{
                border: 1px solid #4882C3;
            }
        }
        .state-error{
            input,select{
                &:not(:focus){
                    background:#fff0f0;
                    border: 1px solid #A90329;
                }
            }
        }
    }
    span.error{
        display:block;
        margin-top:6px;
        padding: 0 1px;
        font-size:11px;
        line-height:15px;
        color:#d56161;
    }

    .range-cpu{
        margin-left:10px;
        width:300px;
    }
    .table,
    table{
        > thead{
            border:1px solid $tableBorderColor;
        }
    }
}


textarea,
textarea:active,
textarea:focus{
    outline: 0 !important;
}
